
.escondido{
    display: none;
}
summary::marker{
    content: ' ';
}
summary::before {
    content: "▼"; 
    display: inline-block;
    margin-right: 8px;
    transition: transform 0.2s; 
    transform: rotate(270deg);
}
details.aberto-js summary::before{
    transform: rotate(0deg);
}
